$colorLink:orangered;
$colorBoton:#9bc361;
$colorinput:#FF8724;
$colorFondo:#729c34;

* {
    margin: 0;
    padding: 0;
    font-family: 'Sansita Swashed', cursive;
    box-sizing: border-box
}

@import "body";
@import "navegacion";
#cabeza {
    display: grid;
    grid-template-rows: auto 40px 60px 30px;
    grid-template-areas: "logo" "nav" "h1" "h2";
    grid-gap: 10px;
    justify-items: center;
    grid-area: head;
}

.logo {
    height: 100px;
    width: 100px;
    grid-area: logo;
    z-index: 2;
    &:hover {
        transition: 2s;
        transform: rotate(-45deg) scale(2, 1) scale(1, 2);
    }
}

h1 {
    font-size: 45px;
    grid-area: h1;
}

h2 {
    text-decoration: underline;
    grid-area: h2;
}


#pie {
    display: grid;
    grid-template-columns: 400px auto 400px;
    grid-template-areas: "celular pie redes";
    margin-top: 60px;
    justify-content: space-around;
    text-align: center;
    font-size: 14px;
    grid-area: footer;
    .boton-redes {
        display: flex;
        flex-flow: row nowrap;
        grid-area: redes;
        justify-content: space-around;
        a {
            text-decoration: none;
            padding-left: 25px;
            margin-bottom: 33px;
        }
        
    }
    .boton-cel {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        grid-area: celular;
        a {
            text-decoration: none;
            text-align: center;
            width: 100px;
            margin-right: 100px;
            margin-bottom: 80px;
        }
    }
    .derechos {
        text-align: center;
        justify-content: center;
        grid-area: pie;
    }
}


/*----------------Seccion Index-------------*/

.accordion {
    background-color: $colorFondo;
    margin-top: 15px;
}

.accordion-button:not(.collapsed) {
    background-color: $colorFondo;
    color: black;
    text-decoration: none;
}

.accordion-body {
    img {
        margin-left: 480px;
    }
}

.logo1 {
    height: 300px;
    width: 300px;
    padding: 0px;
    border: 2px outset black;
}

 


/*----------------seccion Contactanos------------*/

#cuerpo {
    display: grid;
    grid-template-columns: 300px 400px;
    grid-template-areas: "p1 img";
    grid-gap: 10px;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    grid-area: body;
}

.cuerpo--form {
    display: flex;
    flex-flow: column nowrap;
    grid-area: p1;

}

.nomb {
    justify-content: center;
    background-color: $colorinput;
    height: 30px;
    width: 100px;
    transition: all 5s;
    
    margin: 20px 100px 20px 10px;
    padding: 10px;
    &:focus {
        width: 200px;
        padding: 5px;
        font-size: 20px;
    }
}

.nomb__mail {
    @extend .nomb;
    &:focus {
        width: 350px;
        font-size: 20px;
    }
}

textarea {
    background-color: $colorinput;
}

.krusty {
    width: 280px;
    height: 400px;
    grid-area: img;
}

.boton {
    background-color: $colorBoton;
    text-decoration-color: $colorLink;
    width: 200px;
    height: 30px;
    text-align: center;
}


/*-------------Seccion Productos--------------*/

#Productos {
    display: grid;
    grid-template-rows: 20px auto;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    grid-template-areas: "titulo" "primerCol" "segundaCol" "tercerCol";
    align-items: center;
    grid-area: body;
    h2 {
        text-decoration: none;
    }
}

.Productos--precios {
    font-size: 30px;
    margin-top: 45px;
    margin-bottom: 20px;
    color: red;
    text-decoration: wavy;
    text-align: center;
    grid-area: titulo;
}

.Productos--imagenes {
    display: grid;
    overflow: hidden;
    grid-template-columns: 33% 33% 33%;
    gap: 13px;
    justify-content: space-around;
    margin-top: 20px;
    text-align: center;
    grid-area: primerCol;
    img {
        width: 300px;
        height: 300px;  
    }
}

.Productos--tabacos {
    p {
        color: red;
        font-size: 20px;

    }
}

.Productos--cedas {
    p {
        color: red;
        font-size: 20px;

    }
}

.Productos--filtros {
    p {
        color: red;
        font-size: 20px;
    }
}


/*--------------Seccion Encargos-------------*/




.encargo--form {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin-top: 50px;
    .nomb {
        justify-content: center;
        width: 200px;
        transition: none;
    }
    .nomb__mail {
        justify-content: center;
        width: 300px;
        transition: none;
    }

}


/*----------------Seccion Medios-de-pago----------------*/

.pagar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.imgPag {
    width: 200px;
    height: 150px;
}


/*-------------Seccion Promos------------*/

.carousel {
    margin: 10px 20px;
    padding: 20px;
    transition: 1s;
}

.size img {
    display: flex;
    height: 450px;
    width: 800px;
    margin: 10px 30px 10px 30px;
    padding: 10px;
}

/*----------Error 404---------------*/

.paginaError {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    grid-template-areas: parrafo link;
    div {
        p {
            font-size: 26px;
            width: 50%;
            margin-left: 80px;
            padding: 10px;
            border: 2px solid black;
            text-align: left;
            text-decoration: red;
            grid-area: parrafo;
        }
    
         a {
            border: 4px solid black;
            text-decoration: none;
            padding: 5px;
            color: red;
            width: 50%;
            text-align: center;
            grid-area: link;
            font-size: 25px;
         }
    }

}


/*-------------Media Querys-----------*/

@media screen and (min-width: 320px) and (max-width: 479px) {
    .navegacion {
        width: 90%;
        transform: none;
        ul {
            padding: 1px;
            a {
                font-size: 14px;
                &:hover {
                    transform: none;
                    font-size: 10px;
                }
            }
        }
    }
    .formulario {
        form{
            text-align: center;
            width: 200px;
            margin: 50px ;
            padding: 20px 100px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: baseline;
        }
    }
    #Productos {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2px;
        justify-content: space-around;
        text-align: center;
    }
    .Productos--imagenes {
        img {
            width: 90px;
            height: 90px;
        }
    }
    .pagar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: center;
        justify-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 50px;
    }
    .imgPag {
        width: 100px;
        height: 100px;
    }
    #cuerpo {
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: "p1";
        grid-gap: 10px;
        justify-content: space-around;
        justify-items: center;
        align-items: center;
        grid-area: body;
    }
    .krusty {
        display: none;
    }
}

@media screen and (min-width: 480px) and (max-width: 599px) {
    .navegacion {
        width: 90%;
        transform: none;
        ul {
            padding: 1px;
            a {
                font-size: 16px;
                &:hover {
                    transform: none;
                    font-size: 10px;
                }
            }
        }
    }
    .formulario {
        text-align: center;
        width: 300px;
        margin: 80px 100px;
        padding: 20px 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: baseline;
    }
    #Productos {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2px;
        justify-content: space-around;
        text-align: center;
    }
    .Productos--imagenes {
        img {
            width: 150px;
            height: 150px;
        }
    }
    .pagar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        align-items: center;
        justify-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 50px;
    }
    .imgPag {
        width: 150px;
        height: 100px;
    }
    #cuerpo {
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-areas: "p1 img";
        grid-gap: 10px;
        justify-content: space-around;
        justify-items: center;
        align-items: center;
        grid-area: body;
    }
    .krusty {
        width: 150px;
        height: 250px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1020px) {
    .navegacion {
        width: 90%;
        transform: none;
        ul {
            padding: 1px;
            a {
                font-size: 19px;
                &:hover {
                    transform: none;
                    font-size: 10px;
                }
            }
        }
    }
    .formulario {
        text-align: center;
        width: 300px;
        margin: 80px 100px;
        padding: 20px 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: baseline;
    }
    #Productos {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2px;
        justify-content: space-around;
        text-align: center;
    }
    .Productos--imagenes {
        img {
            width: 250px;
            height: 250px;
        }
    }
    .pagar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        align-items: center;
        justify-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 50px;
    }
    .imgPag {
        width: 150px;
        height: 100px;
    }
    .krusty {
        width: 200px;
        height: 300px;
    }
}